{% extends "./base.html" %}
{% load management_extras %}
{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("#demandTable tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("#demandTable tr[objid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("objid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
				$("#demandEdit").attr("href", "demands/" + selectedID);
				$("#demandCalc").attr("href", "demands/" + selectedID + "/calc");
			});
		$(".fancybox").fancybox();
		$("#demandSend").click(function(event) {
			event.preventDefault();
			$("#demandTable input[type='checkbox'][checked]").each(function () {
				if (!$(this).attr("checked"))
					return;
				var row = $(this).parent().parent();
				$.get("demands/" + row.attr("objid") + "/send");
			});
			alert("הדרישות נשלחו ליזמים");
		});
		$("#monthChange").click(function(event) {
			event.preventDefault();
			location.replace("/demandsold/" + $("#id_year").val() + "/" + $("#id_month").val())
		});
		$("#demandsCalc").click(function(event) {
			if (!confirm("האם אתה בטוח שברצונך לחשב את העמלות מחדש ?"))
				event.preventDefault();
		});
	});
</script>
{% endblock header %}
{% block content %}
<div class="title">
	<div class="pageTitle">ריכוז דרישות לתשלום לחודש {{month|date:"M Y"}}</div>
</div>
<div class="clearBoth"></div>
<form method="POST">
	<table class="dataTable" style="width: 30%;">
		<tr class="row1">
			<td colspan="3" style="background-color: #0065BD; color: #FFFFFF; font-weight: bold;">חיפוש</td>
		</tr>
		<tr class="row2">
			{% for field in filterForm %}
			<td>
				{{ field.label_tag }} : 
				{{ field }}
			</td>
			{% endfor %}
			<td><input id="monthChange" type="button" value="חפש" class="button"/></td>
		</tr>
	</table>
</form>
<div class="someIcon" style="width:100px;">
	<img src="/site_media/images/edit_48.png" width="20" height="20"  alt="שינוי" /> 
	<a id="demandEdit">שינוי דרישה</a>
</div>
<div class="someIcon"style="width:120px;">
	<img src="/site_media/images/thumbs_up_48.png" width="20" height="20"  alt="שליחה" /> 
	<a href="/demands/sendall">אשר ושלח דרישות</a>
</div>
<div class="someIcon"style="width:130px;">
	<img src="/site_media/images/advanced-48.png" width="20" height="20"  alt="שליחה" /> 
	<a id="demandCalc">חישוב עמלות מחדש</a>
</div>
<div class="someIcon" style="width:100px;">
	<img src="/site_media/images/print-48.png" width="20" height="20"  alt="הדפסה" /> 
	<a href="#">שלח להנה"ח</a>
</div>
<div class="someIcon" style="width:100px;">
	<img src="/site_media/images/print-48.png" width="20" height="20"  alt="הדפסה" /> 
	<a href="/reports/projects_month/{{month.year}}/{{month.month}}">גרסה להדפסה</a>
</div>
<div class="clearBoth"></div>
<p>
לתשומת לבך, ל-
<u>{{unhandled_projects|length}}</u>
פרוייקטים לא הוצאה דרישה בגין חודש זה : 
{% for p in unhandled_projects %}
{{p}} ,
{% endfor %}
</p>
<br>
<table id="demandTable" class="dataTable" border="1">
<caption>מציג סה"כ {{demands.count}} דרישות לתשלום</caption>
	<tr>
		<th>מס'</th>
		<th>יזם</th>
		<th>שם פרוייקט</th>
		<th>מס' מכירות</th>
		<th>סה"כ מכירות כולל מע"מ</th>
		<th>עמלה מחושב בגין שיווק</th>
		<th>תוספת קבועה</th>
		<th>תוספת משתנה</th>
		<th>בונוס</th>
		<th>קיזוז</th>
		<th>סה"כ תשלום לחברה</th>
		<th>תיקון</th>
		<th>תזכורות</th>
		<th>הערות</th>
	</tr>
    {% for d in demands.all %}
	{% if not d.statuses.count %}
    	<tr class="row3" objid={{d.id}}>
	{% else %}
		{% ifequal d.statuses.latest.type.id 1 %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{d.id}}>
		{% endifequal %}
		{% ifequal d.statuses.latest.type.id 2 %}
			<tr class="row4" objid={{d.id}}>
		{% endifequal %}
		{% ifequal d.statuses.latest.type.id 3 %}
			<tr class="row5" objid={{d.id}}>
		{% endifequal %}
		{% ifequal d.statuses.latest.type.id 4 %}
			<tr class="row5" objid={{d.id}}>
		{% endifequal %}
	{% endif %}
			<td><a href="/demands/{{d.id}}">{{d.id}}</a></td>
			<td>{{ d.project.initiator }}</td>
			<td><a href="/projects/{{d.project.id}}">{{ d.project.name }}</a></td>
			<td><a href="/demands/{{d.id}}/sales" class="fancybox">{{ d.get_sales.count|default:"אין מכירות" }}</a></td>
			<td>{% if d.get_sales_amount %} {{ d.get_sales_amount|commaise }} ש"ח {% else %}----{% endif %}</td>
			<td>{% if d.get_sales_commission %} {{ d.get_sales_commission|commaise }} ש"ח {% else %}----{% endif %}</td>
			<td style="color:#08A600;">{% if d.fixed_pay %} {{ d.fixed_pay }} ש"ח {% endif %}</td>
			<td style="color:#08A600;">{% if d.var_pay %} {{ d.var_pay }} ש"ח - {{ d.var_pay_type }} {% endif %}</td>
			<td style="color:#08A600; width:150px;">{% if d.bonus %} {{ d.bonus }} ש"ח - {{ d.bonus_type }} {% endif %}</td>
			<td style="color:#D50808;">{% if d.fee %} {{ d.fee }} ש"ח - {{ d.fee_type }} {% endif %}</td>
			<td><b>{% if d.get_total_amount %} {{ d.get_total_amount|commaise }} ש"ח {% else %}----{% endif %}</b></td>
			<td>
			{% if d.is_fixed %}
			<img src="/site_media/images/update_48.png" width="20" height="20"  alt="תיקון" />
			{% endif %}
			</td>
			<td>
			{% if d.get_open_reminders|length %}
				<a href="/demands/{{d.id}}/reminders" class="fancybox">{{d.get_open_reminders|length}} תזכורות</a>
			{% endif %}
				<a href="/demands/{{d.id}}/addreminder" class="fancybox">
					<img src="/site_media/images/add_48.png" width="15" height="15" border="0" alt="הוספה" />
				</a>
			</td>
			<td>{{ d.remarks|default_if_none:"" }}</td>
		</tr>
	{% endfor %}
	<tr height="40px">
		<td colspan="4" align="center" style="color:#CF2222;"><b>סיכום</b></td>
		<td><b style="color:#CF2222;">{{total_sales_count}} מכירות</b></td>
		<td><b style="color:#CF2222;">{{total_sales_amount|commaise}} ש"ח</b></td>
		<td><b style="color:#CF2222;">{{total_sales_commission|commaise}} ש"ח</b></td>
		<td colspan="2"></td>
		<td colspan="2"><b style="color:#CF2222;">{{total_amount|commaise}} ש"ח</b></td>
	</tr>
</table>
{% endblock content %}