{% extends "./template.html" %}
{% load management_extras %}
{% block page %}
<div id="content">
	<div class="title">
		<div class="pageTitle">ריכוז מכירות {{demand.month}}/{{demand.year}} - {{demand.project}}</div>
	</div>
	<div class="clearBoth"></div>
	<table id="sales_table" class="dataTable" border="1">
		<caption>מציג סה"כ {{demand.get_sales.count}} עסקאות</caption>
		<th></th>
		<th>מס"ד</th>
		<th>ת. חוזה</th>
		<th style="width:150px;">שם הרוכשים</th>
		<th>מס' בניין</th>
		<th>מס' דירה</th>
		<th>מחיר חוזה</th>
		{% for sale in demand.get_sales.all %}
			<tr>
				<td><a target="_parent" href="/sale/{{sale.id}}"><img src="http://www.nicehouse.co.il/site_media/images/documentinfo-48.png" width="15" height="15" alt="פרטים" border="0" /></a></td>
				<td>{{sale.id}}</td>
				<td>{{sale.sale_date|date:"j/m/Y"}}</td>
				<td>{{sale.clients}}</td>
				{% with sale.house.building as b %}
				<td><a target="_parent" href="/buildings/{{b.id}}/pricelist/type1">{{sale.house.building.num}}</a></td>
				<td><a target="_parent" href="/buildings/{{b.id}}/house/{{sale.house.id}}/type1">{{sale.house.num}}</a></td>
				{% endwith %}
				<td>
					{{sale.price}}<br>
					{{sale.include_tax|yesno:"כולל מע\"מ, לא כולל מע\"מ"}}, 
					{% ifnotequal sale.house.building.project.commissions.include_lawyer None %}
						{{sale.house.building.project.commissions.include_lawyer|yesno:"כולל עו\"ד, לא כולל עו\"ד"}}
					{% endifnotequal %}
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="5"></td>
			<td><b>סה"כ מכירות</b></td>
			<td colspan="2"><b>{{demand.get_sales_amount|commaise}}</b></td>
		</tr>
	</table>
</div>
{% endblock page %}