{% extends "./base.html" %}
{% load management_extras %}
{% block content %}
	<div class="title">
		<div class="pageTitle">אישור ושליחת דרישות במייל ובפקס</div>
	</div>
<form method="post">
	<table class="dataTable" border="1">
		<th></th>
		<th>שם הפרוייקט</th>
		<th>חודש</th>
		<th>סופית?</th>
		<th>מייל?</th>
		<th>כתובת מייל</th>
		<th>פקס?</th>
		<th>מס' פקס</th>
		{% for f in forms %}
			<tr class="{% cycle 'row1' 'row2' %}">
				<td>{{f.id}}</td>
				<td><a href="{{f.instance.project.get_absolute_url}}">{{ f.instance.project }}</a></td>
				<td>{{ f.instance.month }}/{{f.instance.year}}</a></td>
				<td>{{f.is_finished}}</td>
				<td>{{f.by_mail}}</td>
				<td>
					{{f.mail}}
					{% if f.mail.errors %}
						<img src="/site_media/images/error-48.png" width="15" height="15"/> 
					{% endif %}
				</td>
				<td>{{f.by_fax}}</td>
				<td>
					{{f.fax}}
					{% if f.fax.errors %}
						<img src="/site_media/images/error-48.png" width="15 height="15" /> 
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
	<input type="submit" value="אישור" class="button"/>
</form>
{% endblock content %}