{% extends "./base.html" %}
{% load management_extras %}
{% block header %}
{{ block.super }}
<script>
	var selectedID = 0;
	var prev_class;
	$(document).ready(function() {
		$("#salaryTable tr").click(function() { 
			var tr = $(this);
			if (selectedID > 0)
				$("#salaryTable tr[employeeid='"+selectedID+"']").attr("class", prev_class);
			selectedID = tr.attr("employeeid");
			if (!selectedID)
				return;
			prev_class = tr.attr("class");
			tr.attr("class","selectedRow");
			//sync links
			if (selectedID > 0)
				$("#loanPay").attr("href", "/employees/" + selectedID + "/loanpay");
				$("#loanAdd").attr("href", "/employees/" + selectedID + "/addloan");
			});
		$(".fancybox").fancybox();
		$("#loanPay, #loanAdd, #edit").click(function (event) {
			if (!$(this).attr("href"))
				alert("לא נבחר עובד");
		});
	});
</script>
{% endblock header %}
{% block content %}
<div class="title">
	<div class="pageTitle">ריכוז שכר לעובדים כולל הוצאות מעביד תקופתי<br>{{start|date:"m/y"}} - {{end|date:"m/y"}}</div>
</div>
<div class="clearBoth"></div>
<form method="GET">
	<table class="dataTable" style="width: 70%;" border="1">
		<tr class="row1">
			<td colspan="6" style="background-color: #0065BD; color: #FFFFFF; font-weight: bold;">חיפוש</td>
		</tr>
		<tr class="row2">
			{% for field in filterForm %}
			<td>
				{{ field.label_tag }} : 
				{{ field }}
			</td>
			{% endfor %}
			<td><input type="submit" value="חפש" class="button"/></td>
		</tr>
	</table>
</form>
<br>
<div class="someIcon" style="width:100px;">
	<img src="/site_media/images/edit_48.png" width="20" height="20"  alt="החזר הלוואה" /> 
	<a id="loanAdd" class="fancybox">הלוואה חדשה</a>
</div>
<div class="someIcon" style="width:120px;">
	<img src="/site_media/images/edit_48.png" width="20" height="20"  alt="החזר הלוואה" /> 
	<a id="loanPay" class="fancybox">עדכון החזר הלוואה</a>
</div>
<div class="someIcon" style="width:100px;">
	<img src="/site_media/images/print-48.png" width="20" height="20" /> 
	<a href="/reports/employeesalary_season/{{employee.id}}/{{start.year}}/{{start.month}}/{{end.year}}/{{end.month}}" >גרסת הדפסה</a>
</div>
<div class="clearBoth"></div>
<br>
<table id="salaryTable" class="dataTable" border="1">
<caption>מציג סה"כ {{employees|length}} עובדים</caption>
	<tr>
		<th>שם העובד</th>
		<th>פרוייקט</th>
		<th>סוג העסקה</th>
		<th>סה"כ<BR>נטו</th>
		<th>סה"כ<BR>ברוטו</th>
		<th>סה"כ ברוטו<BR>+ מעביד</th>
	</tr>
	{% regroup employees by rank as rank_list %}
	{% for rank in rank_list %}
		<tr style="text-align:center; color:#4669D6; font-size:14px"><td colspan="15"><b>{{rank.grouper|default:"-- לא הוגדר דרג --"}}</b></td></tr>
		{% for e in rank.list %}
			<tr class="{% cycle 'row1' 'row2' %}" objid={{s.id}} employeeid={{s.employee.id}}>
				<td><a href="{{e.get_absolute_url}}" target="_blank">{{ e }}</a></td>			
				<td>
					{% for p in e.projects.all %}
					<a href="{{p.get_absolute_url}}" target="_blank">{{p}}</a><br>
					{% endfor %}
				</td>
				<td>{{e.employment_terms.hire_type}}</td>
				<td>
					<a target="_blank" href="/employeesalaryseason/?employee={{e.id}};from_year={{start.year}};from_month={{start.month}};to_year={{end.year}};to_month={{end.month}}">
					{{e.total_neto|commaise}}
					</a>
				</td>
				<td>
					<a target="_blank" href="/esseasonexpenses/?employee={{e.id}};from_year={{start.year}};from_month={{start.month}};to_year={{end.year}};to_month={{end.month}}">
					{{e.total_bruto|commaise}}
					</a>
				</td>
				<td>
					<a target="_blank" href="/esseasontotalexpenses/?employee={{e.id}};from_year={{start.year}};from_month={{start.month}};to_year={{end.year}};to_month={{end.month}}">
					{{e.total_bruto_with_employer|commaise}}
					</a>
				</td>
			</tr>
		{% endfor %}
	{% endfor %}
</table>
{% endblock content %}