{% extends "./template.html" %}
{% load management_extras %}
{% block page %}
<div id="content">
	<div class="title">
		<div class="pageTitle">פירוט עמלות לעובד {{salary.employee}} לחודש {{salary.month}}/{{salary.year}}</div>
	</div>
	<div class="clearBoth"></div>
	<table id="sales_table" class="dataTable" border="1">
		<caption>מציג סה"כ {{demand.get_sales.count}} עסקאות</caption>
		<th>סוג עמלה</th>
		<th>שווי עמלה</th>
		<th>פירוט מכירות</th>
		{% regroup salary.commission_details.all by commission as commission_list %}
		{% for cl in commission_list %}
		<tr>
			<th>{{cl.grouper}}</th>
		</tr>
		{% regroup cl.items by value as value_list %}
		{% for v in value_list %}
		<tr>
			<th></th>
			<td>{{v.grouper}} X {{v.items|length}}</td>
			<td>
			{% for scd in v.items %}
				<a href="{{scd.sale.get_absolute_url}}" target="_parent">{{scd.sale.id}}</a> ,
			{% endfor %}
			</td>
		{% endfor %}
		{% endfor %}
	</table>
</div>
{% endblock page %}