{% extends "./base.html" %}
{% block header %}
{{ block.super }}
<script>
	$(document).ready(function() {
		fieldset = $("#locateHouse").next();
		fieldset.hide();
		$("#locateHouse").click(function (event) {
			event.preventDefault();
			fieldset.toggle();
		});
		
		$(".listTitle").click(function(event) {
			$(this).next().toggle();
		});
		
		$(".fancybox").fancybox();
	});
</script>
{% endblock header %}
{% block content %}
	<div class="title"> 
		<div class="pageTitle">ברוך הבא לאתר FollowUp</div> 
	</div> 
	<br><br>
	<div id="rightSide"> 
		<div class="subTitle">הגדרות מערכת</div> 
		<ul>
			<li><a href="madadbi">מדד תשומות הבנייה למגורים</a></li>
			<li><a href="madadcp">מדד המחירים לצרכן</a></li>
			<li><a href="tax">מע"מ</a></li>
		</ul>
		<br>
		<div class="subTitle">ביקורת נתונים</div> 
		<ul> 
			<li><a href="projects">תנאים מסחריים בפרוייקטים</a></li>
			<li><a href="employees">תנאי שכר לעובדים</a></li>
			<li><a href="#">בדיקת דו"חות לאישור דרישה</a></li>
		</ul>
		<br>
		<div class="subTitle">נווה העיר</div> 
		<div class="listTitle">כרטיסי נתונים</div>
		<ul>
			<li><a href="projects">כרטיסי פרוייקטים</a>
			<a href="projects/add" ><img src="/site_media/images/add_48.png" width="15" height="15" border="0" alt="הוספה" /></a></li>
			<li><a href="projects/archive">ארכיון פרוייקטים</a></li>
			<li><a href="employees">כרטיסי עובדים</a>
			<a href="employees/add" ><img src="/site_media/images/add_48.png" width="15" height="15" border="0" alt="הוספה" /></a></li>
			<li><a href="employees/archive">ארכיון עובדים</a></li>
		</ul>
		<div class="listTitle">דרישות לתשלום</div>
		<ul>
			<li><a href="sale">מכירה חדשה</a></li>
			<li><a href="demands">הזנה ועדכון דרישות לתשלום</a>
			<a href="demands/add" ><img src="/site_media/images/add_48.png" width="15" height="15" border="0" alt="הוספה" /></a></li>
			<li><a href="demandsold">ריכוז דרישות לסך הפרוייקטים לפי חודש</a></li>
			<li><a href="demandseason">ריכוז דרישות תקופתי לפרוייקט</a></li>
			<li><a href="demandfollowup">מעקב דרישות תקופתי לפרוייקט</a></li>
			<li><a id="locateHouse" href="#">איתור דירה</a>
			<fieldset class="cardFieldset" style="width:55%;">
				<form method="POST" action="locate_house">
					<table class="formTable">			
					{% for field in locateHouseForm %}
					<tr>
						<th>{{field.label_tag}}</th>
						<td>{{field}}</td>
						<td>{{field.errors|join:" "}}</td>
					</tr>
					{% endfor %}
					</table>
					<input class="button" type="submit" value="אתר"/>
				</form>
			</fieldset></li>
		</ul>
		<div>דו"חות</div>
		<div class="listTitle">עובדים</div>
		<ul>
			<li><a href="#">דו"ח הוצאות שכר לעובד כולל הוצאות מעביד</a></li>
			<li><a href="#">דו"ח הוצאות שכר לכל העובדים כולל הוצאות מעביד</a></li>
			<li><a href="employeesalaries">דו"ח הנפקת משכורות עובדים</a></li>
			<li><a href="employeesalaryseason">ריכוז משכורות לפי תקופה</a></li>
			<li><a href="loans">הלוואות עובדים</a></li>
		</ul>
		<div class="listTitle">יזמים</div>
		<ul>
			<li><a href="reports">ריכוזי מכירות</a></li>
			<li><a href="#">איתור דרישה לתשלום ליזם</a></li>
			<li><a href="buildings/add" class="fancybox">הוספת בניין ומחירון</a></li>
			<li><a href="demandsall" >מעקב תשלומים מיזמים</a></li>
		</ul>
		<div class="listTitle">מעקב תשלומים מיזם</div>
		<ul>
			<li><a href="demands/unpaid">דו"ח סך הדרישות שטרם שולמו</a></li>
			<li><a href="demands/paidsome">דו"ח סך הדרישות ששולמו בחסר</a></li>
		</ul>
		<div class="listTitle">תזכורת לתשלום ליזמים</div>
		<ul>
			<li><a href="#">שלח תזכורת</a></li>
		</ul>
		<div class="listTitle">דו"חות עסקיים</div>
		<ul>
			<li><a href="#">דו"ח רווח והפסד לפרוייקט</a></li>
			<li><a href="#">ניהול מעקב תקציבי</a></li>
			<li><a href="#">דו"ח אפס</a></li>
			<li><a href="#">סטטיסטיקות</a></li>
		</ul>
	</div> 
	<div id="leftSide">
	<div class="listTitle">הוצאת צ'קים</div>
		<ul>
			<li><a href="#">פתיחת פנקס צ'קים</a></li>
			<li><a href="employeechecks">צ'קים לעובדים</a></li>
			<li><a href="advancepayments">מקדמות לעובדים</a></li>
			<li><a href="checks">צ'קים אחרים</a></li>
			<li><a href="#">צ'קים חסרים</a></li>
		</ul>
		<div class="listTitle">תקבולים מיזמים</div>
		<ul>
			<li><a href="payments/add">הקלדת תשלום שהתקבל</a></li>
			<li><a href="demandpayments" >ריכוז תשלומים</a></li>
			<li><a href="invoices/add">הקלדת חשבונית שהוצאה</a></li>
			<li><a href="demandinvoices" >ריכוז חשבוניות</a></li>
			<li><a href="#">חשבוניות חסרות</a></li>
		</ul>
		<div class="listTitle">ניהול מלאי</div>
		<ul>
			<li><a href="#">מלאי קבוע</a></li>
			<li><a href="#">טלפונים</a></li>
			<li><a href="cars">מכוניות</a></li>
			<li><a href="#">מלאי לקוחות</a></li>
		</ul>
		<div class="listTitle">חשבון בנק</div>
		<ul>
			<li><a href="#">חשבון בנק XXXXX מספר XXXXX</a></li>
		</ul>
		<div class="listTitle">יוזמה ואסטרטגיה</div>
		<ul>
			<li><a href="#">חשבון בנק</a></li>
			<li><a href="#">הכנסות (חשבוניות)</a></li>
			<li><a href="checks">הוצאות (צ'קים)</a></li>
			<li><a href="#">רכוש קבוע (הסכמים)</a></li>
		</ul>
		<div class="listTitle">אנשי קשר ומסמכים</div>
		<ul>
			<li><a href="attachments">ארכיב מסמכים</a></li>
			<li><a href="contacts">אנשי קשר</a></li>
			<li><a href="#">טפסי חברה - סטנדרט</a></li>
		</ul>
		<div class="listTitle">ניהול זמן</div>
		<ul>
			<li><a href="tasks">משימות</a></li>
			<li><a href="#">תזכורות</a></li>
			<li><a href="#">טפסי חברה - סטנדרט</a></li>
		</ul>
		<div class="listTitle">נייס האוס</div>
		<ul>
			<li><a href="nhemployees/add">עובד חדש</a></li>
			<li><a href="lawyers">עורכי דין</a></li>
			<li><a href="nhbranch/add">פתיחת סניף חדש</a></li>
		</ul>
		<div class="listTitle">נייס האוס - הנהלה</div>
		<ul>
			<li><a href="#">ריכוז מכירות לחודש לכל הסניפים</a></li>
			<li><a href="nhemployeesalaries">ריכוז שכר עובדי נייס האוס</a></li>
		</ul>
		{% for b in nhbranches %}
		<div class="listTitle">{{b.name}}</div>
		<ul>
			<li><a href="nhbranch/{{b.id}}">פרטי הסניף</a></li>
			<li><a href="nhbranch/{{b.id}}/nhsale/add">עסקה חדשה</a></li>
			<li><a href="nhbranch/{{b.id}}/sales">ריכוז מכירות לחודש</a></li>
		</ul>
		{% endfor %}
		<li><a href="links">שימושון נדל"ן</a></li>
	</div>
	<div class="clearBoth"></div> 
{% endblock content %}