{% extends "./template.html" %}
{% block header %}
<script>
	$(document).ready(function() {		
		$("input[type!='submit']").attr("class", "inputText");
		$("input[type='submit']").click(function (event) {
			parent.$("#fancy_close").click(function(event) {
					parent.location.reload();
				});	
			});
	});
</script>
{% endblock header %}
{% block page %}
<div id="content">	
	{% if title %}
	<div class="title">
		<div class="pageTitle">{{title}}</div>
	</div>
	<div class="clearBoth"></div>
	{% endif %}
	<form method="POST" enctype="multipart/form-data">
		<table class="formTable">
			<tr>
				<th>{{form.invoice_num.label_tag}}</th>
				<td>
					{{form.invoice_num}}
					{% if form.invoice_num.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{form.invoice_num.errors|join:""}}'/>{% endif %}
				</td>
				<td class="helpText">{% if form.invoice_num.help_text %}{{form.invoice_num.help_text}}{% endif %}</td>
			</tr>
			<tr>
				<th>{{form.date.label_tag}}</th>
				<td>
					{{form.date}}
					{% if form.date.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{form.date.errors|join:""}}'/>{% endif %}
				</td>
				<td class="helpText">{% if form.date.help_text %}{{form.date.help_text}}{% endif %}</td>
			</tr>
			<tr>
				<th>{{form.add_type.label_tag}}</th>
				<td>
					{{form.add_type}}
					{% if form.add_type.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{form.add_type.errors|join:""}}'/>{% endif %}
				</td>
				<td class="helpText">{% if form.add_type.help_text %}{{form.add_type.help_text}}{% endif %}</td>
			</tr>
			<tr>
				<th>{{form.amount.label_tag}}</th>
				<td>
					{{form.amount}}
					{% if form.amount.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{form.amount.errors|join:""}}'/>{% endif %}
				</td>
				<td class="helpText">{% if form.amount.help_text %}{{form.amount.help_text}}{% endif %}</td>
			</tr>
			<tr>
				<th>{{form.reason.label_tag}}</th>
				<td>
					{{form.reason}}
					{% if form.reason.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{form.reason.errors|join:""}}'/>{% endif %}
				</td>
				<td class="helpText">{% if form.reason.help_text %}{{form.reason.help_text}}{% endif %}</td>
			</tr>
			<tr>
				<th>{{form.remarks.label_tag}}</th>
				<td>
					{{form.remarks}}
					{% if form.remarks.errors %}<img src="/site_media/images/error-48.png" width="15" height="15" title='{{form.remarks.errors|join:""}}'/>{% endif %}
				</td>
				<td class="helpText">{% if form.remarks.help_text %}{{form.remarks.help_text}}{% endif %}</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="אישור" class="button"/></td>
			</tr>
		</table>
	</form>
</div>
{% endblock page %}