{% extends "./template.html" %}
{% load management_extras %}
{% block page %}
<div id="content">
	<div class="title">
		<div class="pageTitle">פירוט עמלות לעובד {{salary.nhemployee}} לחודש {{salary.month}}/{{salary.year}}</div>
	</div>
	<div class="clearBoth"></div>
	<table id="sales_table" class="dataTable" border="1">
		<th>סוג עמלה</th>
		<th>שווי עמלה</th>
		<th>מכירה</th>
		{% for scd in details %}
		<tr>
			<td>
				{% ifequal scd.commission "base" %}בסיס{% endifequal %}
				{% ifequal scd.commission "nhcbase" %}ניהול בסיס{% endifequal %}
				{% ifequal scd.commission "nhcbase_min" %}מינימום{% endifequal %}
				{% ifequal scd.commission "nhcbranchincome" %}ניהול סניף{% endifequal %}
				{% ifequal scd.commission "nhcbranchincome_min" %}מינימום{% endifequal %}
			</td>
			<td>
				{{scd.amount|commaise}} - 
				{% ifequal scd.nhsaleside.employee1 scd.nhemployeesalary.nhemployee %}
					{{scd.nhsaleside.employee1_commission}}% 
				{% endifequal %}
				{% ifequal scd.nhsaleside.employee2 scd.nhemployeesalary.nhemployee %}
					{{scd.nhsaleside.employee2_commission}}% 
				{% endifequal %}
				 * {{scd.nhsaleside.net_income|commaise}}
			</td>
			<td><a href="{{scd.nhsaleside.nhsale.get_absolute_url}}" target="_blank">{{scd.nhsaleside.nhsale.verbose_id}}</a></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock page %}