{% extends "./template.html" %}
{% load management_extras %}
{% block page %}
<div id="content">
	<div class="title">
		<div class="pageTitle">פירוט עמלות לעובד {{salary.nhemployee}} לחודש {{salary.month}}/{{salary.year}}</div>
	</div>
	<div class="clearBoth"></div>
	<table id="sales_table" class="dataTable" border="1">
		<th>סוג עמלה</th>
		<th>שווי עמלה</th>
		<th>מכירה</th>
		{% for scd in details %}
		<tr>
			<td>{{scd.commission}}</td>
			<td>{{scd.amount}}</td>
			<td><a href="{{scd.nhsaleside.nhsale.get_absolute_url}}" target="_blank">{{scd.nhsaleside.nhsale.verbose_id}}</a></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock page %}