{% extends "./base.html" %}
{% load management_extras %}
{% block header %}
{{ block.super }}
<script>
	$(document).ready(function() {		
		$("input[type!='submit']").attr("class", "inputText");
		$(".fancybox").fancybox();
		$(".bigfancybox").fancybox({'frameWidth':800});
	});
</script>
{% endblock header %}
{% block content %}
	<div class="title">
		<div class="pageTitle">פרטי עסקת נייס האוס מס' {{nhs.id}}</div>
	</div>
	<div style="float: right; width: 27%; margin-left: 10px;">
		<fieldset class="cardFieldset">
			<legend>פרטים כלליים</legend>
			<table cellspacing="2" cellpadding="2" class="formTable">
				<tr>
					<th>סניף</th>
					<td>{{nhs.nhmonth.nhbranch}}</td>
				</tr>
				<tr>
					<th>חודש</th>
					<td>{{nhs.nhmonth.month}}/{{nhs.nhmonth.year}}</td>
				</tr>
				<tr>
					<th>כתובת</th>
					<td>{{nhs.address}}</td>
				</tr>
				<tr>
					<th>שכונה</th>
					<td>{{nhs.hood}}</td>
				</tr>
				<tr>
					<th>מס' חדרים</th>
					<td>{{nhs.rooms}}</td>
				</tr>
				<tr>
					<th>קומה</th>
					<td>{{nhs.floor}}</td>
				</tr>
				<tr>
					<th>סוג דירה</th>
					<td>{{nhs.type}}</td>
				</tr>
				<tr>
					<th>ת. מכירה</th>
					<td>{{nhs.sale_date}}</td>
				</tr>
				<tr>
					<th>מחיר</th>
					<td>{{nhs.price}}</td>
				</tr>
				<tr>
					<th>הערות</th>
					<td>{{nhs.remarks}}</td>
				</tr>
				<tr>
					<td></td>
					<td><a href="edit" class="fancybox">עדכן</a></td>
				</tr>
			</table>
		</fieldset><br>
	</div>
	<div style="float: right; width:33%; margin-left: 10px;">
	<fieldset class="cardFieldset">
		<legend>צד א'</legend>
		<table cellspacing="2" cellpadding="2" class="formTable" >
		{% with nhs.nhsaleside_set.all.0 as side1 %}
			<tr>
				<td></td>
				<td><u><b>נתוני רוכשים</b></u></td>
			</tr>
			<tr>
				<th>שם</th>
				<td>{{side1.name1}}</td>
			</tr>
			<tr>
				<th>שם</th>
				<td>{{side1.name2}}</td>
			</tr>
			<tr>
				<th>טלפון</th>
				<td>{{side1.phone1}}</td>
			</tr>
			<tr>
				<th>טלפון</th>
				<td>{{side1.phone2}}</td>
			</tr>			
			<tr>
				<td></td>
				<td><u><b>נתוני חוזה</b></u></td>
			</tr>
			<tr>
				<th>% עמלה חתום</th>
				<td>{{side1.signed_commission}}</td>
			</tr>
			<tr>
				<th>% עמלה בפועל</th>
				<td>{{side1.actual_commission}}</td>
			</tr>
			<tr>
				<th>מס' הזמנת שרותי תיווך</th>
				<td>{{side1.voucher_num}}</td>
			</tr>
			<tr>
				<th>ת. הוצאת הזמנה</th>
				<td>{{side1.voucher_date}}</td>
			</tr>
			<tr>
				<th>מס' קבלה זמנית</th>
				<td>{{side1.temp_receipt_num}}</td>
			</tr>
			<tr>
				<td></td>
				<td><u><b>נתוני עמלה עו"ד</b></u></td>
			</tr>
			<tr>
				<td></td>
				<td><u><b>נתוני עמלה לעובדים</b></u></td>
			</tr>
			<tr>
				<th>עובד 1</th>
				<td>
					{{side1.employee1}} - 
					{{side1.employee1_commission}}%
				</td>
			</tr>
			<tr>
				<th>עובד 2</th>
				<td>
					{% if side1.employee2 %}
						{{side1.employee2}} - 
						{{side1.employee2_commission}}%
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>גורם מפנה</th>
				<td>
					{% if side1.director %}
						{{side1.director}} - 
						{{side1.director_commission}}%
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>הערות</th>
				<td>{{side1.remarks}}</td>
			</tr>
			<tr>
				<td></td>
				<td><a href="/nhsaleside/{{side1.id}}" class="fancybox">עדכן</a></td>
			</tr>
			<tr>
				<td></td>
				<td><a href="/invoices/{{side1.invoices.all.0.id}}" class="fancybox">עדכן פרטי חשבונית</a></td>
			</tr>
			<tr>
				<th>
					{{side1.payments.count}} 
					תשלומים
				</th>
				<td></td>
			</tr>
			{% for p in side1.payments.all %}
				<tr>
					<td>
						{{p.payment_type}} 
						על סך של 
						{{p.amount}}
					</td>
					<td><a href="/payments/{{p.id}}" class="fancybox">עדכן</a></td>
				</tr>
			{% endfor %}
		{% endwith %}
		</table>
	</fieldset>
	</div>
	<div style="float: right; width:33%; margin-left: 10px;">	
	<fieldset class="cardFieldset">
		<legend>צד ב'</legend>
		<table cellspacing="2" cellpadding="2" class="formTable" >		
		{% with nhs.nhsaleside_set.all.1 as side2 %}	
			<tr>
				<td></td>
				<td><u><b>נתוני רוכשים</b></u></td>
			</tr>
			<tr>
				<th>שם</th>
				<td>{{side2.name1}}</td>
			</tr>
			<tr>
				<th>שם</th>
				<td>{{side2.name2}}</td>
			</tr>
			<tr>
				<th>טלפון</th>
				<td>{{side2.phone1}}</td>
			</tr>
			<tr>
				<th>טלפון</th>
				<td>{{side2.phone2}}</td>
			</tr>			
			<tr>
				<td></td>
				<td><u><b>נתוני חוזה</b></u></td>
			</tr>
			<tr>
				<th>% עמלה חתום</th>
				<td>{{side2.signed_commission}}</td>
			</tr>
			<tr>
				<th>% עמלה בפועל</th>
				<td>{{side2.actual_commission}}</td>
			</tr>
			<tr>
				<th>מס' הזמנת שרותי תיווך</th>
				<td>{{side2.voucher_num}}</td>
			</tr>
			<tr>
				<th>ת. הוצאת הזמנה</th>
				<td>{{side2.voucher_date}}</td>
			</tr>
			<tr>
				<th>מס' קבלה זמנית</th>
				<td>{{side2.temp_receipt_num}}</td>
			</tr>
			<tr>
				<td></td>
				<td><u><b>נתוני עמלה עו"ד</b></u></td>
			</tr>
			<tr>
				<td></td>
				<td><u><b>נתוני עמלה לעובדים</b></u></td>
			</tr>
			<tr>
				<th>עובד 1</th>
				<td>
					{{side2.employee1}} - 
					{{side2.employee1_commission}}%
				</td>
			</tr>
			<tr>
				<th>עובד 2</th>
				<td>
					{% if side2.employee2 %}
						{{side2.employee2}} - 
						{{side2.employee2_commission}}%
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>גורם מפנה</th>
				<td>
					{% if side2.director %}
						{{side2.director}} - 
						{{side2.director_commission}}%
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>הערות</th>
				<td>{{side2.remarks}}</td>
			</tr>
			<tr>
				<td></td>
				<td><a href="/nhsaleside/{{side2.id}}" class="fancybox">עדכן</a></td>
			</tr>
			<tr>
				<td></td>
				<td><a href="/invoices/{{side2.invoices.all.0.id}}" class="fancybox">עדכן פרטי חשבונית</a></td>
			</tr>
			<tr>
				<th>
					{{side2.payments.count}} 
					תשלומים
				</th>
				<td></td>
			</tr>
			{% for p in side2.payments.all %}
				<tr>
					<td>
						{{p.payment_type}} 
						על סך של 
						{{p.amount}}
					</td>
					<td><a href="/payments/{{p.id}}" class="fancybox">עדכן</a></td>
				</tr>
			{% endfor %}
		{% endwith %}
		</table>
	</fieldset>
	</div>
	<div class="clearBoth"> </div>
{% endblock content %}