{% extends "./base.html" %}

{% block header %}
{{ block.super }}
<script>
	$(document).ready(function() {
		$("input[type!='submit']").attr("class", "inputText");
		$("select").attr("class", "inputText");
		$("#contactTable").hide();//hides new commissions
		$("#new_contact").click(function (event) {
				event.preventDefault();
				$("#contactTable").toggle();//show/hide new commission
			});
		});
</script>
{% endblock header %}
{% block content %}	
<div class="title">
	<div class="pageTitle">הוספת פרוייקט</div>
</div>
<form method="POST">
	<fieldset class="cardFieldset">
		<legend>פרטי משרד מכירות</legend>
		<table cellspacing="2" cellpadding="2" class="formTable">
			<tr>
				<td>{{ form.initiator.label_tag }}</td>
				<td>
				{{ form.initiator }}
				{% for error in form.initiator.errors %}
					{{ error|escape }}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{{ form.name.label_tag }}</td>
				<td>
				{{ form.name }}
				{% for error in form.name.errors %}
					{{ error|escape }}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{{ form.city.label_tag }}</td>
				<td>
				{{ form.city }}
				{% for error in form.city.errors %}
					{{ error|escape }}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{{ form.hood.label_tag }}</td>
				<td>
				{{ form.hood }}
				{% for error in form.hood.errors %}
					{{ error|escape }}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{{ form.office_address.label_tag }}</td>
				<td>
				{{ form.office_address }}
				{% for error in form.office_address.errors %}
					{{ error|escape }}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{{ form.phone.label_tag }}</td>
				<td>
				{{ form.phone }}
				{% for error in form.phone.errors %}
					{{ error|escape }}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{{ form.cell_phone.label_tag }}</td>
				<td>
				{{ form.cell_phone }}
				{% for error in form.cell_phone.errors %}
					{{ error|escape }}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{{ form.fax.label_tag }}</td>
				<td>
				{{ form.fax }}
				{% for error in form.fax.errors %}
					{{ error|escape }}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{{ form.mail.label_tag }}</td>
				<td>
				{{ form.mail }}
				{% for error in form.mail.errors %}
					{{ error|escape }}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>{{ form.start_date.label_tag }}</td>
				<td>
				{{ form.start_date }}
				{% for error in form.start_date.errors %}
					{{ error|escape }}
				{% endfor %}
				</td>
			</tr>
		</table>
	</fieldset>
	<fieldset class="cardFieldset">
		<legend>נציג דרישות תשלום</legend>
		הצב איש קשר קיים :
		{{ecForm.contact}} {{ecForm.contact.errors|escape}}
		<br><button id="new_contact" class="button">איש קשר חדש</button>
		<table id="contactTable" cellspacing="2" cellpadding="2" class="formTable">
			{% for field in contactForm %}
			<tr>
				<th>{{field.label_tag}}</th>
				<td>{{field}}</td>
				<td>{{field.errors|join:" ,"}}</td>
			</tr>
			{% endfor %}
		</table>
	</fieldset>
	<br><input type="submit" value="אישור" class="button" />
</form>
{% endblock content %}