{% extends "./template.html" %}
{% load management_extras %}
{% block page %}
<div style="width: 900px; background-color: #FFFFFF; padding: 10px; font-family: Tahoma; font-size: 16px;">
	<div id="rightSide">
		בס"ד
		<br /><br />
		<b><u>לכבוד</u></b><br>
		<b>חברת {{demand.project.initiator}}</b><br>
		<b>לידי {{demand.project.demand_contact}}</b><br>
		<b>תפקיד : </b>{{demand.project.demand_contact.role}}<br>
		א.ג.נ
	</div>
	<div id="leftSide" style="text-align: left;">
		<img src="http://www.nicehouse.co.il/site_media/images/nh_logo.jpg"/><br><br>
		תאריך : <u>{% now "j M Y" %}</u>
	</div>
	<div class="clearBoth"></div>
	<h3 style="text-align:center;"><u>הנדון: עמלה לפרוייקט - {{demand.project.name}} לחודש {{demand.month}}/{{demand.year}}</u></h3>
	<h4 style="text-align:center;">דרישה מס {{demand.id}}</h4>
	<ol>
		<li>
			רצ"ב פרוט דרישתנו לתשלום בגין 
			<b>{{demand.get_sales.count}}</b>
			עסקאות שנחתמו החודש.
		</li>
		<li>
			<u>סה"כ מכירות</u> 
			(
			{{ demand.project.commissions.include_tax|yesno:"כולל מע\"מ,לא כולל מע\"מ" }}
			{% if not demand.project.commissions.include_lawyer %}, לא כולל שכ"ט עו"ד{% endif %}				
			) 
			<b>{{demand.get_sales_amount|commaise}} ש"ח</b>
		</li>
		<li>עמלתנו (כולל מע"מ) <b>{{demand.get_total_amount|commaise}}</b> ש"ח (ראה פירוט רצ"ב)</li>
		<li>נא בדיקתכם ואישורכם לתשלום לתאריך <b>31/{% now "m/Y" %}</b>.</li>
	</ol>
	
	<h4 style="text-align:center;"><u>להלן פירוט עסקאות</u></h4>
	{% block sale_table %}
	{% endblock sale_table %}
	<br>
	{% if demand.remarks %}
	<b><u>הערות לדרישה</b></u><br>
	{{demand.remarks|escape}}
	{% endif %}
	<div class="clearBoth"></div>
	<br>
	במידה ויש שינוי במחירי הדירות ו/או שינוי אחר אנא עדכנו אותנו בפקס ו/או בטלפון הרצ"ב.	לנוחיותכם, הדרישה מועברת אליכם גם במייל וגם בפקס.<br><br>
</div>
{% if demand.is_multi_page %}
<div style="position:absolute; top:2300px; left:50px; font-family: Tahoma; font-size: 16px;">
{% else %}
<div style="position:absolute; top:1100px; left:50px; font-family: Tahoma; font-size: 16px;">
{% endif %}
	<p style="text-align:left;">
	<b>
	ברגשי כבוד,<br>
	אלי בר-און
	</b>
	</p>
	<p style="text-align:center;">
	רח' החרש  16, בניין קני סנטר נס ציונה  
	<b>08-9302960</b>
	פקס  
	<b>08-9302950</b>
	מייל 
	<b>Nicehouse1@bezeqint.net</b>
	</p>
</div>
{% endblock page %}
