{% extends "./template.html" %}
{% load management_extras %}
{% block page %}
<div style="width: 900px; background-color: #FFFFFF; padding: 10px; font-family: Tahoma; font-size: 12px;">
	<div id="rightSide">
		בס"ד
	</div>	
	<div id="leftSide" style="text-align: left;">
		<img src="/site_media/images/nh_logo.jpg"/><br>
		תאריך : <u>{% now "j M Y" %}</u>
	</div>
	<h3 align="center">
		<u>ריכוז מכירות לחודש {{ month|date:"m/Y" }}</u>
	</h3>
	<div class="clearBoth"></div>
	<br>
	<table class="reportTable" style="font-size:14px;" border="1">
		<th></th>
		<th>שם היזם</th>
		<th>שם הפרוייקט</th>
		<th>סה"כ מכירות</th>
		<th>סה"כ עמלה</th>
		<th width="70px">מס' חשבונית</th>
		<th width="70px">סכום חשבונית</th>
		<th width="70px">מס' צ'ק</th>
		<th width="70px">סכום צ'ק</th>
		<th width="100px">הערות</th>
		{% for d in demands.all %}
		<tr height="25px">
			<td>{{forloop.counter}}</td>
			<td>{{d.project.initiator}}</td>
			<td>{{d.project.name}}</td>
			<td>
				{% if d.get_sales_amount %}
					{{d.get_sales_amount|commaise}} ש"ח
				{% else %}
					אין מכירות
				{% endif %}
			</td>
			<td>
				{% if d.get_total_amount %}
					{{d.get_total_amount|commaise}} ש"ח</td>
				{% else %}
					----
				{% endif %}
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{d.remarks|default_if_none:""}}</td>
		</tr>
		{% endfor %}		
		<tr>
			<td style="font-weight: bold; text-align: left; padding-left: 8px;" colspan="3">סה"כ מכירות</td>
			<td style="font-weight: bold; text-align: right; padding-right: 8px;" colspan="7">{{salesAmount|commaise}} ש"ח</td>
		</tr>
		<tr>
			<td style="font-weight: bold; text-align: left; padding-left: 8px;" colspan="4">סה"כ עמלה</td>
			<td style="font-weight: bold; text-align: right; padding-right: 8px;" colspan="6">{{totalAmount|commaise}} ש"ח</td>
		</tr>
	</table>
</div>
{% endblock page %}
