{% extends "./base.html" %}
{% block header %}

{{ block.super }}<script>

</script>
{% endblock header %}
{% block content %}
<div style="width: 800px; background-color: #FFFFFF; border: 1px solid black;">
	
	<div>
		<div style="font-size: 16px; text-align: center;">
			<u>ריכוז מכירות שנתי לפרוייקט</u><br>
			יזם : {{project.initiator}}<br>
			פרוייקט : {{project.name}}<br>
			עיר : {{project.city}}<br>
			שכונה : {{project.hood}}<br><br>
		</div>
	</div>

	<table class="dataTable" border="1">
		<tr>
			<td><b>חודש</b></td>
			<td><b>סה"כ מכירות</b></td>
			<td><b>סה"כ עמלה</b></td>
			<td><b>פירוט עמלה</b></td>
		</tr>
		{% for s in salaries %}
		<tr>
			<td>{{s.month|date:"M Y"}}</td>
			<td>{{s.sales_total}} ש"ח</td>
			<td>{{s.amount_total}} ש"ח</td>
			<td>{{s.details}}</td>
		</tr>
		{% endfor %}		
		<tr>
			<td style="font-weight: bold; text-align: left; padding-left: 8px;">סה"כ מכירות</td>
			<td colspan="3">{{salesTotal}} ש"ח</td>
		</tr>
		<tr>
			<td style="font-weight: bold; text-align: left; padding-left: 8px;" colspan="2">סה"כ עמלה</td>
			<td colspan="2">{{amountTotal}} ש"ח</td>
		</tr>
	</table>
</div>

<br /><br />
<a href="doh1.html">גרסא להדפסה</a>
{% endblock content %}
