{% extends "./base.html" %}
{% block header %}
{{ block.super }}
<script>
	var projectSelect;
	var buildingSelect;
	var houseSelect;

	$(document).ready(function() {
		$("input[type!='submit']").attr("class", "inputText");
		$("select").attr("class", "inputText");
		
		projectSelect = $("#id_project");
		buildingSelect = $("#id_building");
		houseSelect = $("#id_house");
		
		//add click event to projects select : use ajax to get related buildings and employees
		projectSelect.change(onChangeProject);
		//add click event to buildings select : use ajax to get related houses.
		buildingSelect.change(onChangeBuilding);
	});
	
	function onChangeBuilding()
	{
		$("option[value!='']", houseSelect).remove();
		var selectedBuilding = buildingSelect.val();
		$.getJSON("/xml/houses/" + selectedBuilding, function(data){
				for (i in data)
				{
					obj = data[i];
					houseSelect.append(
						"<option value='" + obj.pk + "'>" + obj.fields['num'] + "</option>");
				}
			});
	}
	
	function onChangeProject()
	{
		$("option[value!='']", buildingSelect).remove();
		$("option[value!='']", houseSelect).remove();
		var selectedProject = projectSelect.val();
		$.getJSON("/xml/buildings/" + selectedProject, function(data){
			for (i in data)
			{
				obj = data[i];
				buildingSelect.append(
					"<option value='" + obj.pk + "'>" + obj.fields['num'] + "</option>");
			}
			onChangeBuilding();
		});
	}
					
	$(document).ready(function() {
		houseSelect.change(function () {
			$("#houseDetails").empty();
			var selectedHouse = houseSelect.val();
			$.get("/house_details/" + selectedHouse, function(data){
				$("#houseDetails").append(data);
			});
		});
	});
</script>
{% endblock header %}
{% block content %}
	<div class="title">
		<div class="pageTitle">
		{% if form.instance.id %}
			שינוי פרטי הרשמה לדירה
		{% else %}
			הזנת הרשמה לדירה
		{% endif %}
		</div>
	</div>
	<div id="rightSide">
		<form method="POST">
		<table cellspacing="2" cellpadding="2" class="formTable">
			<tr>
				<th>{{ form.id.label_tag }}</th>
				<td>{{ form.id }}</td>
				<td>{{ form.id.errors|join:" " }}</td>
			</tr>
			<tr>
				<th>{{ form.project.label_tag }}</th>
				<td>{{ form.project }}</td>
				<td>{{ form.project.errors|join:" " }}</td>
			</tr>
			<tr>
				<th>{{ form.building.label_tag }}</th>
				<td>{{ form.building }}</td>
				<td>{{ form.building.errors|join:" " }}</td>
			</tr>
			<tr>
				<th>{{ form.house.label_tag }}</th>
				<td>{{ form.house }}</td>
				<td>{{ form.house.errors|join:" " }}</td>
			</tr>
			<tr>
				<th>{{ form.clients.label_tag }}</th>
				<td>{{ form.clients }}</td>
				<td>{{ form.clients.errors|join:" " }}</td>
			</tr>
			<tr>
				<th>{{ form.clients_phone.label_tag }}</th>
				<td>{{ form.clients_phone }}</td>
				<td>{{ form.clients_phone.errors|join:" " }}</td>
			</tr>
			<tr>
				<th>{{ form.clients_address.label_tag }}</th>
				<td>{{ form.clients_address }}</td>
				<td>{{ form.clients_address.errors|join:" " }}</td>
			</tr>
			<tr>
				<th>{{ form.date.label_tag }}</th>
				<td>{{ form.date }}</td>
				<td>{{ form.date.errors|join:" " }}</td>
			</tr>
			<tr>
				<th>{{ form.sale_date.label_tag }}</th>
				<td>{{ form.sale_date }}</td>
				<td>{{ form.sale_date.errors|join:" " }}</td>
			</tr>
			<tr>
				<th>{{ form.price.label_tag }}</th>
				<td>{{ form.price }}</td>
				<td>{{ form.price.errors|join:" " }}</td>
			</tr>
			<tr>
				<th>{{ form.include_lawyer.label_tag }}</th>
				<td>{{ form.include_lawyer }}</td>
				<td>{{ form.include_lawyer.errors|join:" " }}</td>
			</tr>
			<tr>
				<th>{{ form.remarks.label_tag }}</th>
				<td>{{ form.remarks }}</td>
				<td>{{ form.remarks.errors|join:" " }}</td>
			</tr>
		</table>
		<input name="addanother" type="submit" value="שמור והמשך בהזנה" class="button" />
		</form>
	</div>
	<div id="leftSide">
		{% if form.instance.cancel %}
			<fieldset class="cardFieldset">
				<legend>פרטי ביטול הרשמה</legend>
				ההרשמה בוטלה בתאריך
				{{form.intance.cancel.date}}
				עם הסיבה
				{{form.intance.cancel.reason}}<br>
				<a href="{{form.instance.id}}/cancel">פרטי ביטול הרשמה</a>
			</fieldset>
		{% endif %}
		<fieldset class="cardFieldset">
			<legend>פרטי דירה</legend>
			<div id="houseDetails"></div>
		</fieldset>
	</div>
	<div class="clearBoth"></div> 
{% endblock content %}